<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table matSort (matSortChange)="sortData($event)" class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th mat-sort-header="Date">Date</th>
      <th mat-sort-header="Temp. (C)">Temp. (C)</th>
      <th mat-sort-header="Temp. (F)">Temp. (F)</th>
      <th mat-sort-header="Summary">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
